[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
certifi = "*"
chardet = "*"
django = "==2.0.7"
djangorestframework = "==3.8.2"
idna = "*"
psycopg2 = "*"
pytz = "*"
requests = "*"
urllib3 = "*"
uWSGI = "==2.0.15"

[requires]
python_version = "3.6"